# .env file

# JWT secret and API URL
JWT_SECRET=
API_BASE_URL=

# OTP Send Request details
OTP_SENDER_ID=
OTP_COUNTRY_CODE=
OTP_RECIPIENT=
OTP_MESSAGE=""
OTP_REF_CODE=
OTP_VALIDITY=
OTP_DIGIT=

# OTP Verify Request details
OTP_VERIFY_TOKEN=
OTP_CODE=
OTP_VERIFY_REF_CODE=

# OTP Resend Request details
OTP_RESEND_TOKEN=
OTP_RESEND_REF_CODE=
